In [0]:
# how to generate seq / sk in pyspark (e.g. row numbers [1,2,3,4,5,6,7,8,9,10])
spark

In [0]:
%fs
ls /FileStore/tables

path,name,size,modificationTime
dbfs:/FileStore/tables/2011_summary-1.csv,2011_summary-1.csv,7069,1698831038000
dbfs:/FileStore/tables/2011_summary.csv,2011_summary.csv,7069,1698830281000
dbfs:/FileStore/tables/Cricket_data_set_odi.csv,Cricket_data_set_odi.csv,1535,1701856689000
dbfs:/FileStore/tables/Dataset.txt,Dataset.txt,405,1700558040000
dbfs:/FileStore/tables/Employee_Salary_Dataset.csv,Employee_Salary_Dataset.csv,809,1699373636000
dbfs:/FileStore/tables/HR_Employee_Attrition.csv,HR_Employee_Attrition.csv,227977,1701176079000
dbfs:/FileStore/tables/Matches.csv,Matches.csv,1275423,1700642533000
dbfs:/FileStore/tables/Multi_line_correct.json,Multi_line_correct.json,310,1698917967000
dbfs:/FileStore/tables/Multi_line_incorrect.json,Multi_line_incorrect.json,304,1698917935000
dbfs:/FileStore/tables/Sample_Dataset-1.txt,Sample_Dataset-1.txt,405,1700558796000
dbfs:/FileStore/tables/Sample_Dataset-2.txt,Sample_Dataset-2.txt,405,1700558855000
dbfs:/FileStore/tables/Sample_Dataset.txt,Sample_Dataset.txt,405,1700558700000
dbfs:/FileStore/tables/Sample_Dataset_with_Missing_Vlaues.txt,Sample_Dataset_with_Missing_Vlaues.txt,787,1700561628000
dbfs:/FileStore/tables/bad_records_handling.csv,bad_records_handling.csv,178,1701080292000
dbfs:/FileStore/tables/corrupt_data.txt,corrupt_data.txt,178,1698914602000
dbfs:/FileStore/tables/corrupt_employee_data.txt,corrupt_employee_data.txt,191,1698904559000
dbfs:/FileStore/tables/corrupt_records.csv,corrupt_records.csv,136,1701078317000
dbfs:/FileStore/tables/corrupted_json.json,corrupted_json.json,218,1698917868000
dbfs:/FileStore/tables/csv_write/,csv_write/,0,0
dbfs:/FileStore/tables/csv_write_repartition/,csv_write_repartition/,0,0
dbfs:/FileStore/tables/emp_data.csv,emp_data.csv,1471,1701756647000
dbfs:/FileStore/tables/employee.csv,employee.csv,1918,1701757300000
dbfs:/FileStore/tables/employee_data.csv,employee_data.csv,1471,1701757181000
dbfs:/FileStore/tables/employee_data.txt,employee_data.txt,230,1698834123000
dbfs:/FileStore/tables/employee_write_data.txt,employee_write_data.txt,741,1698992353000
dbfs:/FileStore/tables/file1.json,file1.json,2198732,1698919336000
dbfs:/FileStore/tables/flight_data.csv,flight_data.csv,7121,1698830186000
dbfs:/FileStore/tables/food_menu_data.csv,food_menu_data.csv,98,1701348397000
dbfs:/FileStore/tables/food_sales_data.csv,food_sales_data.csv,3406,1701348376000
dbfs:/FileStore/tables/google_playstore_data.csv,google_playstore_data.csv,1349314,1701163650000
dbfs:/FileStore/tables/line_delimited_json.json,line_delimited_json.json,219,1698917503000
dbfs:/FileStore/tables/missing_value_dataset-1.csv,missing_value_dataset-1.csv,722,1700631239000
dbfs:/FileStore/tables/missing_value_dataset.csv,missing_value_dataset.csv,787,1700630819000
dbfs:/FileStore/tables/nested/,nested/,0,0
dbfs:/FileStore/tables/null_valurs_contain_dataset.csv,null_valurs_contain_dataset.csv,1952,1701870189000
dbfs:/FileStore/tables/part_r_00000_1a9822ba_b8fb_4d8e_844a_ea30d0801b9e_gz__1_.parquet,part_r_00000_1a9822ba_b8fb_4d8e_844a_ea30d0801b9e_gz__1_.parquet,3921,1698990853000
dbfs:/FileStore/tables/sales.csv,sales.csv,12643,1701064933000
dbfs:/FileStore/tables/sales_data.csv,sales_data.csv,264814,1699333500000
dbfs:/FileStore/tables/sample_dyanamic_data.csv,sample_dyanamic_data.csv,116,1701782946000
dbfs:/FileStore/tables/sample_dyanamic_data_with_col-1.csv,sample_dyanamic_data_with_col-1.csv,189,1701783191000
dbfs:/FileStore/tables/sample_dyanamic_data_with_col.csv,sample_dyanamic_data_with_col.csv,144,1701783088000
dbfs:/FileStore/tables/single_file_json_with_extra_fields-1.json,single_file_json_with_extra_fields-1.json,234,1698918175000
dbfs:/FileStore/tables/single_file_json_with_extra_fields.json,single_file_json_with_extra_fields.json,233,1698917834000
dbfs:/FileStore/tables/skip_line_data-1.csv,skip_line_data-1.csv,111,1701839785000
dbfs:/FileStore/tables/skip_line_data.csv,skip_line_data.csv,111,1701839784000
dbfs:/FileStore/tables/skip_line_data_2.csv,skip_line_data_2.csv,664,1701841468000

In [0]:
sk_df = spark.read.option("nullValue", "null")\
    .csv("/FileStore/tables/emp_data.csv", header=True, inferSchema=True)
sk_df.limit(10).display()

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
7369,SMITH,CLERK,7902,1980-12-17,800,null,20
7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300,30
7521,WARD,SALESMAN,7698,1981-02-22,1250,500,30
7566,JONES,MANAGER,7839,1981-02-04,2975,null,20
7654,MARTIN,SALESMAN,7698,1981-09-21,1250,1400,30
7698,SGR,MANAGER,7839,1981-01-05,2850,null,30
7782,RAVI,MANAGER,7839,1981-09-06,2450,null,10
7788,SCOTT,ANALYST,7566,1987-04-19,3000,null,20
7839,KING,PRESIDENT,null,1981-11-01,5000,null,10
7844,TURNER,SALESMAN,7698,1981-08-09,1500,0,30

In [0]:
# Method 1 -  using monotonically_increasing_id or hash functions we can generate sequence or surrogate key
from pyspark.sql.functions import monotonically_increasing_id
sk_df.withColumn("monotonically_increasing_id", monotonically_increasing_id()).limit(10).display()

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,monotonically_increasing_id
7369,SMITH,CLERK,7902,1980-12-17,800,null,20,0
7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300,30,1
7521,WARD,SALESMAN,7698,1981-02-22,1250,500,30,2
7566,JONES,MANAGER,7839,1981-02-04,2975,null,20,3
7654,MARTIN,SALESMAN,7698,1981-09-21,1250,1400,30,4
7698,SGR,MANAGER,7839,1981-01-05,2850,null,30,5
7782,RAVI,MANAGER,7839,1981-09-06,2450,null,10,6
7788,SCOTT,ANALYST,7566,1987-04-19,3000,null,20,7
7839,KING,PRESIDENT,null,1981-11-01,5000,null,10,8
7844,TURNER,SALESMAN,7698,1981-08-09,1500,0,30,9

In [0]:
#if you want to start with 1 or any other range of digits use this
sk_df.withColumn("monotonically_increasing_id", monotonically_increasing_id()+1).limit(10).display()

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,monotonically_increasing_id
7369,SMITH,CLERK,7902,1980-12-17,800,null,20,1
7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300,30,2
7521,WARD,SALESMAN,7698,1981-02-22,1250,500,30,3
7566,JONES,MANAGER,7839,1981-02-04,2975,null,20,4
7654,MARTIN,SALESMAN,7698,1981-09-21,1250,1400,30,5
7698,SGR,MANAGER,7839,1981-01-05,2850,null,30,6
7782,RAVI,MANAGER,7839,1981-09-06,2450,null,10,7
7788,SCOTT,ANALYST,7566,1987-04-19,3000,null,20,8
7839,KING,PRESIDENT,null,1981-11-01,5000,null,10,9
7844,TURNER,SALESMAN,7698,1981-08-09,1500,0,30,10

In [0]:
# Method 2 - Using window function row_number()
# PySpark lit() function is used to add constant or literal value as a new column to the DataFrame.
from pyspark.sql.functions import row_number, lit
from pyspark.sql.window import Window

sk_df.withColumn("row_number()", row_number().over(Window.partitionBy(lit('')).orderBy(lit('')))).limit(10).display()

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,row_number()
7369,SMITH,CLERK,7902,1980-12-17,800,null,20,1
7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300,30,2
7521,WARD,SALESMAN,7698,1981-02-22,1250,500,30,3
7566,JONES,MANAGER,7839,1981-02-04,2975,null,20,4
7654,MARTIN,SALESMAN,7698,1981-09-21,1250,1400,30,5
7698,SGR,MANAGER,7839,1981-01-05,2850,null,30,6
7782,RAVI,MANAGER,7839,1981-09-06,2450,null,10,7
7788,SCOTT,ANALYST,7566,1987-04-19,3000,null,20,8
7839,KING,PRESIDENT,null,1981-11-01,5000,null,10,9
7844,TURNER,SALESMAN,7698,1981-08-09,1500,0,30,10

In [0]:
# there are another methods too like
# CRC32
# sha2
# md5