In [0]:
# this only work within databricks notebook
# way to create a file in specific folder
dbutils.fs.put("/schenarios/double_pipe.csv","""id||name||loc
1||ravi||Bangalore
2||Raj||Chennai
3||Mahesh||Hyderabad
4||Prasad||Chennai
5||Sridhar||Pune
""",True)

Wrote 106 bytes.

True

In [0]:
# example - double delimiter
delimiter_df = spark.read.csv("/schenarios/double_pipe.csv", header=True, inferSchema=True)
delimiter_df.display()

id||name||loc
1||ravi||Bangalore
2||Raj||Chennai
3||Mahesh||Hyderabad
4||Prasad||Chennai
5||Sridhar||Pune

In [0]:
delimiter_df = spark.read.csv("/schenarios/double_pipe.csv", header=True, inferSchema=True, sep="||")
delimiter_df.display()

id,name,loc
1,ravi,Bangalore
2,Raj,Chennai
3,Mahesh,Hyderabad
4,Prasad,Chennai
5,Sridhar,Pune

In [0]:
# Example - multi delimiters
dbutils.fs.put("/scenarios/multi_sep.csv","""id,name,loc,marks
1,ravi,Bangalore,35|45|55|65
2,Raj,Chennai,35|45|55|65
3,Mahesh,Hyderabad,35|45|55|65
4,Prasad,Chennai,35|45|55|65
5,Sridhar,Pune,35|45|55|65
""",True)

Wrote 160 bytes.

True

In [0]:
multi_d_df = spark.read.csv("/scenarios/multi_sep.csv", header=True)
multi_d_df.display()
# here we not grt mar

id,name,loc,marks
1,ravi,Bangalore,35|45|55|65
2,Raj,Chennai,35|45|55|65
3,Mahesh,Hyderabad,35|45|55|65
4,Prasad,Chennai,35|45|55|65
5,Sridhar,Pune,35|45|55|65

In [0]:
%sql
select split("1|2|3|4|5", "\\|")

"split(1|2|3|4|5, \|, -1)"
"List(1, 2, 3, 4, 5)"

In [0]:
from pyspark.sql.functions import col,split
multi_d_df = multi_d_df.withColumn("marks_split", split(col("marks"), "\\|"))\
    .withColumn("sub1", col("marks_split")[0])\
        .withColumn("sub2", col("marks_split")[1])\
            .withColumn("sub3", col("marks_split")[2])\
                .withColumn("sub4", col("marks_split")[3])
multi_d_df.display()

id,name,loc,marks,marks_split,sub1,sub2,sub3,sub4
1,ravi,Bangalore,35|45|55|65,"List(35, 45, 55, 65)",35,45,55,65
2,Raj,Chennai,35|45|55|65,"List(35, 45, 55, 65)",35,45,55,65
3,Mahesh,Hyderabad,35|45|55|65,"List(35, 45, 55, 65)",35,45,55,65
4,Prasad,Chennai,35|45|55|65,"List(35, 45, 55, 65)",35,45,55,65
5,Sridhar,Pune,35|45|55|65,"List(35, 45, 55, 65)",35,45,55,65

In [0]:
# final out data look like
multi_d_df = multi_d_df.drop("marks_split", "marks")
multi_d_df.display()

id,name,loc,sub1,sub2,sub3,sub4
1,ravi,Bangalore,35,45,55,65
2,Raj,Chennai,35,45,55,65
3,Mahesh,Hyderabad,35,45,55,65
4,Prasad,Chennai,35,45,55,65
5,Sridhar,Pune,35,45,55,65