In [0]:
# let’s start by creating a SparkSession, which is the entry point for PySpark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

sparkSQL = SparkSession.builder.appName("Implementing SparkSQL").getOrCreate()

data=[("Manoj", 23), ("Sneha", 24), ("Family", 45)]

dfSQL = sparkSQL.createDataFrame(data, ["Name", "Age"])
dfSQL.show()
dfSQL.printSchema()

+------+---+
|  Name|Age|
+------+---+
| Manoj| 23|
| Sneha| 24|
|Family| 45|
+------+---+

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

In [0]:
# Now that you have a Spark DataFrame, we can use SparkSQL to perform some basic operations on the data.
# First, you need to register the pyspark dataframe before it can be queried with SparkSQL
# ===================================================================================================================
# NOTE - SparkSQL provides a SQL interface for quering structured and semi-structured data. If you have a DataFrame and want to apply SQL queries to it.You can create a temp view to expose the DataFrame as a table in SQL namespace. Creating a temp view provide a convenient bridge btn DataFrame and SQL Queries.
# ===================================================================================================================
# Register the DataFrame
dfSQL.createOrReplaceTempView("personal_info")

In [0]:
# “The table named ‘people’ is created, on which you can run your SQL queries.”
# You can now use the spark.sql() method to query the data

# let's perform select query on "personal_info"
query_result = spark.sql("""
                            select * from personal_info
                         """)
query_result.show()
query_result.printSchema()

+------+---+
|  Name|Age|
+------+---+
| Manoj| 23|
| Sneha| 24|
|Family| 45|
+------+---+

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

In [0]:
sample_df = sparkSQL.read.csv("/FileStore/tables/sales.csv", header=True, inferSchema=True)
sample_df.show(10, truncate=False)
sample_df.printSchema() 
sample_df.columns

+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Region                           |Country              |Item Type      |Sales Channel|Order Priority|Order Date|Order ID |Ship Date |Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Australia and Oceania            |Tuvalu               |Baby Food      |Offline      |H             |2010-05-28|669165933|2010-06-27|9925      |255.28    |159.42   |2533654.0    |1582243.5 |951410.5    |
|Central America and the Caribbean|Grenada              |Cereal         |Online       |C             |2012-08-22|963881480|2012-09-15|2804      |205.7     |117.11   |576782.8     |328376.44 |248406.36   |
|Europe                           |Russia               |Office Supplies|Offline      |L             |2014-05-02|341417157|2014-05-08|1779      |651.21    |524.96   |1158502.59   |933903.84 |224598.75   |
|Sub-Saharan Africa               |Sao Tome and Principe|Fruits         |Online       |C             |2014-06-20|514321792|2014-07-05|8102      |9.33      |6.92     |75591.66     |56065.84  |19525.82    |
|Sub-Saharan Africa               |Rwanda               |Office Supplies|Offline      |L             |2013-02-01|115456712|2013-02-06|5062      |651.21    |524.96   |3296425.02   |2657347.52|639077.5    |
|Australia and Oceania            |Solomon Islands      |Baby Food      |Online       |C             |2015-02-04|547995746|2015-02-21|2974      |255.28    |159.42   |759202.72    |474115.08 |285087.64   |
|Sub-Saharan Africa               |Angola               |Household      |Offline      |M             |2011-04-23|135425221|2011-04-27|4187      |668.27    |502.54   |2798046.49   |2104134.98|693911.51   |
|Sub-Saharan Africa               |Burkina Faso         |Vegetables     |Online       |H             |2012-07-17|871543967|2012-07-27|8082      |154.06    |90.93    |1245112.92   |734896.26 |510216.66   |
|Sub-Saharan Africa               |Republic of the Congo|Personal Care  |Offline      |M             |2015-07-14|770463311|2015-08-25|6070      |81.73     |56.67    |496101.1     |343986.9  |152114.2    |
|Sub-Saharan Africa               |Senegal              |Cereal         |Online       |H             |2014-04-18|616607081|2014-05-30|6593      |205.7     |117.11   |1356180.1    |772106.23 |584073.87   |
+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 10 rows

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Order Priority: string (nullable = true)
 |-- Order Date: date (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Ship Date: date (nullable = true)
 |-- Units Sold: integer (nullable = true)
 |-- Unit Price: double (nullable = true)
 |-- Unit Cost: double (nullable = true)
 |-- Total Revenue: double (nullable = true)
 |-- Total Cost: double (nullable = true)
 |-- Total Profit: double (nullable = true)

['Region',
 'Country',
 'Item Type',
 'Sales Channel',
 'Order Priority',
 'Order Date',
 'Order ID',
 'Ship Date',
 'Units Sold',
 'Unit Price',
 'Unit Cost',
 'Total Revenue',
 'Total Cost',
 'Total Profit']

In [0]:
# let's remove the white space in columns and covert to lower case
new_sample_df = sample_df.select([col(x).alias(x.replace(" ", "_").lower()) for x in sample_df.columns])
new_sample_df.show(5, truncate=False)
sample_df.show(5, truncate=False)

+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|region                           |country              |item_type      |sales_channel|order_priority|order_date|order_id |ship_date |units_sold|unit_price|unit_cost|total_revenue|total_cost|total_profit|
+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Australia and Oceania            |Tuvalu               |Baby Food      |Offline      |H             |2010-05-28|669165933|2010-06-27|9925      |255.28    |159.42   |2533654.0    |1582243.5 |951410.5    |
|Central America and the Caribbean|Grenada              |Cereal         |Online       |C             |2012-08-22|963881480|2012-09-15|2804      |205.7     |117.11   |576782.8     |328376.44 |248406.36   |
|Europe                           |Russia               |Office Supplies|Offline      |L             |2014-05-02|341417157|2014-05-08|1779      |651.21    |524.96   |1158502.59   |933903.84 |224598.75   |
|Sub-Saharan Africa               |Sao Tome and Principe|Fruits         |Online       |C             |2014-06-20|514321792|2014-07-05|8102      |9.33      |6.92     |75591.66     |56065.84  |19525.82    |
|Sub-Saharan Africa               |Rwanda               |Office Supplies|Offline      |L             |2013-02-01|115456712|2013-02-06|5062      |651.21    |524.96   |3296425.02   |2657347.52|639077.5    |
+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 5 rows

+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Region                           |Country              |Item Type      |Sales Channel|Order Priority|Order Date|Order ID |Ship Date |Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Australia and Oceania            |Tuvalu               |Baby Food      |Offline      |H             |2010-05-28|669165933|2010-06-27|9925      |255.28    |159.42   |2533654.0    |1582243.5 |951410.5    |
|Central America and the Caribbean|Grenada              |Cereal         |Online       |C             |2012-08-22|963881480|2012-09-15|2804      |205.7     |117.11   |576782.8     |328376.44 |248406.36   |
|Europe                           |Russia               |Office Supplies|Offline      |L             |2014-05-02|341417157|2014-05-08|1779      |651.21    |524.96   |1158502.59   |933903.84 |224598.75   |
|Sub-Saharan Africa               |Sao Tome and Principe|Fruits         |Online       |C             |2014-06-20|514321792|2014-07-05|8102      |9.33      |6.92     |75591.66     |56065.84  |19525.82    |
|Sub-Saharan Africa               |Rwanda               |Office Supplies|Offline      |L             |2013-02-01|115456712|2013-02-06|5062      |651.21    |524.96   |3296425.02   |2657347.52|639077.5    |
+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 5 rows

In [0]:
# creating a temp view, so we can run our qurey on dataframe
sample_df.createOrReplaceTempView("sales_data")
new_sample_df.createOrReplaceTempView("new_sales_data")

In [0]:
# Start performing SQL queries on DataFrame

#  “Select” Operation
sparkSQL.sql("""
                select * from sales_data

            """).show(5, truncate=False)

sparkSQL.sql("""
                select * from new_sales_data

            """).show(5, truncate=False)

sparkSQL.sql("""
                select order_id, region, country, item_type from new_sales_data

            """).show(5, truncate=False)

+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Region                           |Country              |Item Type      |Sales Channel|Order Priority|Order Date|Order ID |Ship Date |Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Australia and Oceania            |Tuvalu               |Baby Food      |Offline      |H             |2010-05-28|669165933|2010-06-27|9925      |255.28    |159.42   |2533654.0    |1582243.5 |951410.5    |
|Central America and the Caribbean|Grenada              |Cereal         |Online       |C             |2012-08-22|963881480|2012-09-15|2804      |205.7     |117.11   |576782.8     |328376.44 |248406.36   |
|Europe                           |Russia               |Office Supplies|Offline      |L             |2014-05-02|341417157|2014-05-08|1779      |651.21    |524.96   |1158502.59   |933903.84 |224598.75   |
|Sub-Saharan Africa               |Sao Tome and Principe|Fruits         |Online       |C             |2014-06-20|514321792|2014-07-05|8102      |9.33      |6.92     |75591.66     |56065.84  |19525.82    |
|Sub-Saharan Africa               |Rwanda               |Office Supplies|Offline      |L             |2013-02-01|115456712|2013-02-06|5062      |651.21    |524.96   |3296425.02   |2657347.52|639077.5    |
+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 5 rows

+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|region                           |country              |item_type      |sales_channel|order_priority|order_date|order_id |ship_date |units_sold|unit_price|unit_cost|total_revenue|total_cost|total_profit|
+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Australia and Oceania            |Tuvalu               |Baby Food      |Offline      |H             |2010-05-28|669165933|2010-06-27|9925      |255.28    |159.42   |2533654.0    |1582243.5 |951410.5    |
|Central America and the Caribbean|Grenada              |Cereal         |Online       |C             |2012-08-22|963881480|2012-09-15|2804      |205.7     |117.11   |576782.8     |328376.44 |248406.36   |
|Europe                           |Russia               |Office Supplies|Offline      |L             |2014-05-02|341417157|2014-05-08|1779      |651.21    |524.96   |1158502.59   |933903.84 |224598.75   |
|Sub-Saharan Africa               |Sao Tome and Principe|Fruits         |Online       |C             |2014-06-20|514321792|2014-07-05|8102      |9.33      |6.92     |75591.66     |56065.84  |19525.82    |
|Sub-Saharan Africa               |Rwanda               |Office Supplies|Offline      |L             |2013-02-01|115456712|2013-02-06|5062      |651.21    |524.96   |3296425.02   |2657347.52|639077.5    |
+---------------------------------+---------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 5 rows

+---------+---------------------------------+---------------------+---------------+
|order_id |region                           |country              |item_type      |
+---------+---------------------------------+---------------------+---------------+
|669165933|Australia and Oceania            |Tuvalu               |Baby Food      |
|963881480|Central America and the Caribbean|Grenada              |Cereal         |
|341417157|Europe                           |Russia               |Office Supplies|
|514321792|Sub-Saharan Africa               |Sao Tome and Principe|Fruits         |
|115456712|Sub-Saharan Africa               |Rwanda               |Office Supplies|
+---------+---------------------------------+---------------------+---------------+
only showing top 5 rows

In [0]:
#  “When” Operation
sparkSQL.sql("""
                select order_id, item_type, sales_channel,
                    case
                        when order_priority == "H" then "High"
                        when order_priority == "L" then "LOW"
                        when order_priority == "M" then "Medium"
                        else "Not Decide"
                    end as set_order_priority
                    from new_sales_data

            """).show(10, truncate=False)

+---------+---------------+-------------+------------------+
|order_id |item_type      |sales_channel|set_order_priority|
+---------+---------------+-------------+------------------+
|669165933|Baby Food      |Offline      |High              |
|963881480|Cereal         |Online       |Not Decide        |
|341417157|Office Supplies|Offline      |LOW               |
|514321792|Fruits         |Online       |Not Decide        |
|115456712|Office Supplies|Offline      |LOW               |
|547995746|Baby Food      |Online       |Not Decide        |
|135425221|Household      |Offline      |Medium            |
|871543967|Vegetables     |Online       |High              |
|770463311|Personal Care  |Offline      |Medium            |
|616607081|Cereal         |Online       |High              |
+---------+---------------+-------------+------------------+
only showing top 10 rows

In [0]:
#  “Like” Operation
sparkSQL.sql("""
                select * from new_sales_data
                where region like "A%"
                order by region asc ;

            """).show(truncate=False)

+---------------------+------------------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|region               |country                       |item_type      |sales_channel|order_priority|order_date|order_id |ship_date |units_sold|unit_price|unit_cost|total_revenue|total_cost|total_profit|
+---------------------+------------------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Asia                 |Kyrgyzstan                    |Vegetables     |Online       |H             |2011-06-24|814711606|2011-07-12|124       |154.06    |90.93    |19103.44     |11275.32  |7828.12     |
|Asia                 |Bangladesh                    |Clothes        |Online       |L             |2017-01-13|187310731|2017-03-01|8263      |109.28    |35.84    |902980.64    |296145.92 |606834.72   |
|Asia                 |Mongolia                      |Personal Care  |Offline      |C             |2014-02-19|832401311|2014-02-23|4901      |81.73     |56.67    |400558.73    |277739.67 |122819.06   |
|Asia                 |Sri Lanka                     |Cosmetics      |Offline      |M             |2016-11-19|419123971|2016-12-18|6952      |437.2     |263.33   |3039414.4    |1830670.16|1208744.24  |
|Asia                 |Turkmenistan                  |Household      |Offline      |L             |2010-12-30|441619336|2011-01-20|3830      |668.27    |502.54   |2559474.1    |1924728.2 |634745.9    |
|Asia                 |Myanmar                       |Household      |Offline      |H             |2015-01-16|177713572|2015-03-01|8250      |668.27    |502.54   |5513227.5    |4145955.0 |1367272.5   |
|Asia                 |Brunei                        |Office Supplies|Online       |L             |2012-04-01|320009267|2012-05-08|6708      |651.21    |524.96   |4368316.68   |3521431.68|846885.0    |
|Asia                 |Myanmar                       |Clothes        |Online       |H             |2015-11-14|223359620|2015-11-18|5930      |109.28    |35.84    |648030.4     |212531.2  |435499.2    |
|Asia                 |Turkmenistan                  |Office Supplies|Online       |M             |2013-04-23|462405812|2013-05-20|5010      |651.21    |524.96   |3262562.1    |2630049.6 |632512.5    |
|Asia                 |Laos                          |Vegetables     |Offline      |C             |2011-09-15|789176547|2011-10-23|3732      |154.06    |90.93    |574951.92    |339350.76 |235601.16   |
|Asia                 |Malaysia                      |Fruits         |Offline      |L             |2011-11-11|810711038|2011-12-28|6267      |9.33      |6.92     |58471.11     |43367.64  |15103.47    |
|Australia and Oceania|Tuvalu                        |Baby Food      |Offline      |H             |2010-05-28|669165933|2010-06-27|9925      |255.28    |159.42   |2533654.0    |1582243.5 |951410.5    |
|Australia and Oceania|Solomon Islands               |Baby Food      |Online       |C             |2015-02-04|547995746|2015-02-21|2974      |255.28    |159.42   |759202.72    |474115.08 |285087.64   |
|Australia and Oceania|East Timor                    |Meat           |Online       |L             |2012-07-31|322067916|2012-09-11|5908      |421.89    |364.69   |2492526.12   |2154588.52|337937.6    |
|Australia and Oceania|New Zealand                   |Fruits         |Online       |H             |2014-09-08|142278373|2014-10-04|2187      |9.33      |6.92     |20404.71     |15134.04  |5270.67     |
|Australia and Oceania|Kiribati                      |Fruits         |Online       |M             |2014-10-13|347140347|2014-11-10|5398      |9.33      |6.92     |50363.34     |37354.16  |13009.18    |
|Australia and Oceania|Australia                     |Office Supplies|Online       |C             |2015-10-27|158535134|2015-11-25|2924      |651.21    |524.96   |1904138.04   |1534983.04|369155.0    |
|Australia and Oceania|Fiji                          |Clothes        |Offline      |C             |2010-06-30|647876489|2010-08-01|9905      |109.28    |35.84    |1082418.4    |354995.2  |727423.2    |
|Australia and Oceania|Australia                     |Cereal         |Offline      |H             |2013-06-09|450563752|2013-07-02|682       |205.7     |117.11   |140287.4     |79869.02  |60418.38    |
|Australia and Oceania|Federated States of Micronesia|Beverages      |Online       |C             |2014-10-28|217221009|2014-11-15|9379      |47.45     |31.79    |445033.55    |298158.41 |146875.14   |
+---------------------+------------------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

In [0]:
#  “Substring” Operation

sparkSQL.sql("""
                select *, substring(country, 0, 3) as country_code
                from new_sales_data 
                order by country asc;
            """).show(10, truncate=False)

+---------------------------------+----------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+------------+
|region                           |country   |item_type      |sales_channel|order_priority|order_date|order_id |ship_date |units_sold|unit_price|unit_cost|total_revenue|total_cost|total_profit|country_code|
+---------------------------------+----------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+------------+
|Europe                           |Albania   |Clothes        |Online       |C             |2010-02-02|385383069|2010-03-18|2269      |109.28    |35.84    |247956.32    |81320.96  |166635.36   |Alb         |
|Sub-Saharan Africa               |Angola    |Household      |Offline      |M             |2011-04-23|135425221|2011-04-27|4187      |668.27    |502.54   |2798046.49   |2104134.98|693911.51   |Ang         |
|Australia and Oceania            |Australia |Office Supplies|Online       |C             |2015-10-27|158535134|2015-11-25|2924      |651.21    |524.96   |1904138.04   |1534983.04|369155.0    |Aus         |
|Australia and Oceania            |Australia |Cereal         |Offline      |H             |2013-06-09|450563752|2013-07-02|682       |205.7     |117.11   |140287.4     |79869.02  |60418.38    |Aus         |
|Australia and Oceania            |Australia |Beverages      |Offline      |H             |2014-07-07|240470397|2014-07-11|9389      |47.45     |31.79    |445508.05    |298476.31 |147031.74   |Aus         |
|Europe                           |Austria   |Cosmetics      |Offline      |H             |2015-02-23|868214595|2015-03-02|2847      |437.2     |263.33   |1244708.4    |749700.51 |495007.89   |Aus         |
|Middle East and North Africa     |Azerbaijan|Cosmetics      |Online       |M             |2010-02-06|382392299|2010-02-25|7234      |437.2     |263.33   |3162704.8    |1904929.22|1257775.58  |Aze         |
|Middle East and North Africa     |Azerbaijan|Office Supplies|Online       |M             |2012-06-13|423331391|2012-07-24|2021      |651.21    |524.96   |1316095.41   |1060944.16|255151.25   |Aze         |
|Asia                             |Bangladesh|Clothes        |Online       |L             |2017-01-13|187310731|2017-03-01|8263      |109.28    |35.84    |902980.64    |296145.92 |606834.72   |Ban         |
|Central America and the Caribbean|Belize    |Clothes        |Offline      |M             |2016-07-25|807025039|2016-09-07|5498      |109.28    |35.84    |600821.44    |197048.32 |403773.12   |Bel         |
+---------------------------------+----------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+------------+
only showing top 10 rows