# Problem Statement
## -----------------------------------------------------------------------------------------------
###                 Danny wants to use the data to answer a few simple questions about his customers, especially about their visiting patterns, how much money theyâ€™ve spent and also which menu items are their favourite. Having this deeper connection with his customers will help him deliver a better and more personalised experience for his loyal customers.

###                 He plans on using these insights to help him decide whether he should expand the existing customer loyalty program - additionally he needs help to generate some basic datasets so his team can easily inspect the data without needing to use SQL.

In [0]:
# creating a spark session to get started with our spark jobs

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

dd_ss = SparkSession.builder.appName("Restaurant_Dannys_Dinner").getOrCreate()
print(dd_ss)

<pyspark.sql.session.SparkSession object at 0x7fe435ed54e0>

In [0]:
# creating a sales dataframe and load data into it

sales_col = StructType([
    StructField("customer_id", StringType(), True),
    StructField("order_date", DateType(), True),
    StructField("product_id", StringType(), True)
])

sales_df = dd_ss.read.format("csv")\
    .option("inferschema", True)\
    .schema(sales_col)\
    .load("/FileStore/tables/pyspark/Sales_danny_s_dinner.csv")
    
sales_df.show(10)
sales_df.printSchema()

+-----------+----------+----------+
|customer_id|order_date|product_id|
+-----------+----------+----------+
|          A|2021-01-01|         1|
|          A|2021-01-01|         2|
|          A|2021-01-07|         2|
|          A|2021-01-10|         3|
|          A|2021-01-11|         3|
|          A|2021-01-11|         3|
|          B|2021-01-01|         2|
|          B|2021-01-02|         2|
|          B|2021-01-04|         1|
|          B|2021-01-11|         1|
+-----------+----------+----------+
only showing top 10 rows

root
 |-- customer_id: string (nullable = true)
 |-- order_date: date (nullable = true)
 |-- product_id: string (nullable = true)

In [0]:
# you can see in our output we get product_id as String
# so need to fix this
sales_df = sales_df.withColumn("product_id", col("product_id").cast(IntegerType()))
sales_df.show(10)
sales_df.printSchema()

+-----------+----------+----------+
|customer_id|order_date|product_id|
+-----------+----------+----------+
|          A|2021-01-01|         1|
|          A|2021-01-01|         2|
|          A|2021-01-07|         2|
|          A|2021-01-10|         3|
|          A|2021-01-11|         3|
|          A|2021-01-11|         3|
|          B|2021-01-01|         2|
|          B|2021-01-02|         2|
|          B|2021-01-04|         1|
|          B|2021-01-11|         1|
+-----------+----------+----------+
only showing top 10 rows

root
 |-- customer_id: string (nullable = true)
 |-- order_date: date (nullable = true)
 |-- product_id: integer (nullable = true)

In [0]:
# creating remaining dataframes and load data

menu_col = StructType([
    StructField("product_id", IntegerType(), True),
    StructField("product_name", StringType(), True),
    StructField("price", StringType(), True)
])

menu_df = dd_ss.read.format("csv")\
    .option("inferschema", True)\
    .schema(menu_col)\
    .load("/FileStore/tables/pyspark/Menu_danny_s_dinner.csv")

menu_df = menu_df.withColumn("price", col("price").cast(IntegerType()))
    
menu_df.show()
menu_df.printSchema()

+----------+------------+-----+
|product_id|product_name|price|
+----------+------------+-----+
|         1|       sushi|   10|
|         2|       curry|   15|
|         3|       ramen|   12|
+----------+------------+-----+

root
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- price: integer (nullable = true)

In [0]:
member_col = StructType([
    StructField("customer_id", StringType(), True),
    StructField("join_date", DateType(), True),
])

member_df = dd_ss.read.format("csv")\
    .option("inferschema", True)\
    .schema(member_col)\
    .load("/FileStore/tables/pyspark/Member_danny_s_dinner.csv")
    
member_df.show()
member_df.printSchema()

+-----------+----------+
|customer_id| join_date|
+-----------+----------+
|          A|2021-01-07|
|          B|2021-01-09|
+-----------+----------+

root
 |-- customer_id: string (nullable = true)
 |-- join_date: date (nullable = true)

In [0]:
sales_df.createOrReplaceTempView("sales_tb")
menu_df.createOrReplaceTempView("menu_tb")
member_df.createOrReplaceTempView("member_tb")

In [0]:
dd_ss.sql("select * from sales_tb limit 10").show(2)
dd_ss.sql("select * from menu_tb").show(2)
dd_ss.sql("select * from member_tb").show(2)

+-----------+----------+----------+
|customer_id|order_date|product_id|
+-----------+----------+----------+
|          A|2021-01-01|         1|
|          A|2021-01-01|         2|
+-----------+----------+----------+
only showing top 2 rows

+----------+------------+-----+
|product_id|product_name|price|
+----------+------------+-----+
|         1|       sushi|   10|
|         2|       curry|   15|
+----------+------------+-----+
only showing top 2 rows

+-----------+----------+
|customer_id| join_date|
+-----------+----------+
|          A|2021-01-07|
|          B|2021-01-09|
+-----------+----------+

#Questions

## 1. What is the total amount each customer spent at the restaurant?

In [0]:
# using sum we get total amount and group by help get group of customer like A, B, C
# we use join here because customer_id and price column belog from diff tables
# so get them from respective tables and perform respective we use join like sum

dd_ss.sql("""
                select s.customer_id, sum(m.price) as spend_amount from sales_tb s
                join menu_tb m using (product_id)
                group by s.customer_id
                order by spend_amount desc;
""").show()

# get the answer/insight refer below table ----------------------------------------------

+-----------+------------+
|customer_id|spend_amount|
+-----------+------------+
|          A|          76|
|          B|          74|
|          C|          36|
+-----------+------------+

## 2. How many days has each customer visited the restaurant?

In [0]:
# using count we get total number of days customer visit to restaurant and distinct help us remove dublicate date or same day he visited again
# using group by we get group of customer like A, B, C
# using order by we sort our output [asc | desc]

dd_ss.sql("""
                select customer_id, count(distinct order_date) as visited_count
                from sales_tb
                group by customer_id
                order by visited_count desc;
""").show()

# get the answer/insight refer below table ----------------------------------------------

+-----------+-------------+
|customer_id|visited_count|
+-----------+-------------+
|          B|            6|
|          A|            4|
|          C|            2|
+-----------+-------------+

## 3. What was the first item from the menu purchased by each customer?

In [0]:
# here we create a common table expression [ menu ]
# using window function we create a dense_rank() column [ menu_rank ] that help as to sort data accordingly our requirement
# In query, we simple use menu table and menu_rank to get answer of our question

dd_ss.sql("""
                with menu as (
                    select s.customer_id, s.order_date, m.product_name,
                    dense_rank() over (partition by s.customer_id order by s.order_date) as menu_rank
                    from sales_tb s join menu_tb m using (product_id)
                ) 
                
                select customer_id, order_date, product_name
                from menu
                where menu_rank = 1
                group by customer_id, order_date, product_name;
""").show()

# get the answer/insight refer below table ----------------------------------------------

+-----------+----------+------------+
|customer_id|order_date|product_name|
+-----------+----------+------------+
|          A|2021-01-01|       sushi|
|          A|2021-01-01|       curry|
|          B|2021-01-01|       curry|
|          C|2021-01-01|       ramen|
+-----------+----------+------------+

## 4. What is the most purchased item on the menu and how many times was it purchased by all customers?

In [0]:
# here we finding most purchased item using count
# join help us to join to tables for requirement fullfillment
# order by used to sort resultent
# limit used to get how many rows you want take as output

dd_ss.sql("""
                select m.product_name, count(s.product_id) as most_purchased_item
                from sales_tb s join menu_tb m using (product_id)
                group by m.product_id, m.product_name
                order by most_purchased_item desc
                limit 1;
""").show()

# get the answer/insight refer below table ----------------------------------------------

+------------+-------------------+
|product_name|most_purchased_item|
+------------+-------------------+
|       ramen|                  8|
+------------+-------------------+

## 5. Which item was the most popular for each customer?

In [0]:
dd_ss.sql("""
                with most_popular as (
                    select s.customer_id, m.product_name, count(s.product_id) as order_count,
                    dense_rank() over (partition by s.customer_id order by count(s.customer_id) desc) as popular_rank
                    from menu_tb m join sales_tb s using (product_id)
                    group by s.customer_id, m.product_name
                )
                
                select customer_id, product_name, order_count
                from most_popular
                where popular_rank = 1
                order by order_count;
""").show()

# Another method - 
# Below ------------------------------------------------------------------------------------------------
# %sql
# SELECT * FROM(
# SELECT 
# customer_id
# , product_name
# , COUNT(m.product_name) as popular_count
# , DENSE_RANK() OVER(PARTITION BY s.customer_id ORDER BY COUNT(s.customer_id) DESC) AS rank
# FROM menu_tb m
# JOIN sales_tb s on s.product_id = m.product_id
# group by customer_id, product_name)t
# WHERE t.rank = 1

+-----------+------------+-----------+
|customer_id|product_name|order_count|
+-----------+------------+-----------+
|          B|       sushi|          2|
|          B|       ramen|          2|
|          B|       curry|          2|
|          A|       ramen|          3|
|          C|       ramen|          3|
+-----------+------------+-----------+

## 6. Which item was purchased first by the customer after they became a member?

In [0]:
dd_ss.sql("""
                with become_member as (
                    select s.customer_id, m.product_name, s.order_date, mm.join_date,
                        dense_rank() over (partition by s.customer_id order by s.order_date) as order_rank
                    from sales_tb s join menu_tb m using (product_id)
                    join member_tb mm using (customer_id)
                    where s.order_date >= mm.join_date
                )

                select customer_id, product_name, join_date
                from become_member
                where order_rank = 1
                order by customer_id;
                
""").show()

+-----------+------------+----------+
|customer_id|product_name| join_date|
+-----------+------------+----------+
|          A|       curry|2021-01-07|
|          B|       sushi|2021-01-09|
+-----------+------------+----------+

## 7. Which item was purchased just before the customer became a member?

In [0]:
dd_ss.sql("""
                with become_member as (
                    select s.customer_id, m.product_name, s.order_date, mm.join_date,
                        dense_rank() over (partition by s.customer_id order by s.order_date desc) as order_rank
                    from sales_tb s join menu_tb m using (product_id)
                    join member_tb mm using (customer_id)
                    where s.order_date < mm.join_date
                )

                select customer_id, product_name, join_date
                from become_member
                where order_rank = 1
                order by customer_id;
                
""").show()

+-----------+------------+----------+
|customer_id|product_name| join_date|
+-----------+------------+----------+
|          A|       sushi|2021-01-07|
|          A|       curry|2021-01-07|
|          B|       sushi|2021-01-09|
+-----------+------------+----------+

## 8. What is the total items and amount spent for each member before they became a member?

In [0]:
dd_ss.sql("""
                select s.customer_id, count(distinct s.product_id) as total_item,
                    sum(m.price) as total_spent
                from sales_tb s join menu_tb m using (product_id)
                    join member_tb mm using (customer_id)
                where s.order_date < mm.join_date
                group by s.customer_id
                order by total_spent desc;
""").show()

+-----------+----------+-----------+
|customer_id|total_item|total_spent|
+-----------+----------+-----------+
|          B|         2|         40|
|          A|         2|         25|
+-----------+----------+-----------+

## 9. If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?

In [0]:
dd_ss.sql("""
                    with reward_point as (
                        select *,
                            case when product_name = 'sushi' then price * 20
                            else price * 10 end as points
                        from menu_tb
                    )

                    select s.customer_id, sum(rp.points) as total_points
                    from sales_tb s join reward_point rp using (product_id)
                    group by s.customer_id
                    order by total_points desc;
""").show()

+-----------+------------+
|customer_id|total_points|
+-----------+------------+
|          A|         760|
|          B|         740|
|          C|         360|
+-----------+------------+

## 10. After become a member customer get 2x points ont only on sushi but on all the products

In [0]:
dd_ss.sql("""
                    select s.customer_id, sum(
                        case when m.product_name='sushi' then 20*m.price
                            when s.order_date >= mm.join_date then 20*m.price
                        else 10*m.price end) as total_spent
                    from sales_tb s join menu_tb m using (product_id)
                        join member_tb mm using (customer_id)
                    group by s.customer_id
                    order by total_spent desc;
""").show()

+-----------+-----------+
|customer_id|total_spent|
+-----------+-----------+
|          A|       1270|
|          B|       1080|
+-----------+-----------+

# Tricky Questions
## Join all the things (create one table with: customer_id, order_date, product_name, price, member (Y/N))

In [0]:
dd_ss.sql("""
                SELECT s.customer_id, s.order_date, m.product_name, m.price,
                    CASE WHEN s.order_date < m2.join_date THEN 'No'
                        WHEN s.order_date >= m2.join_date THEN 'Yes'
                        ELSE 'No' END AS is_member
                FROM sales_tb s JOIN menu_tb m USING (product_id)
                    JOIN member_tb m2 USING (customer_id)
                ORDER BY s.customer_id;
""").show()

+-----------+----------+------------+-----+---------+
|customer_id|order_date|product_name|price|is_member|
+-----------+----------+------------+-----+---------+
|          A|2021-01-01|       sushi|   10|       No|
|          A|2021-01-01|       curry|   15|       No|
|          A|2021-01-07|       curry|   15|      Yes|
|          A|2021-01-10|       ramen|   12|      Yes|
|          A|2021-01-11|       ramen|   12|      Yes|
|          A|2021-01-11|       ramen|   12|      Yes|
|          B|2021-01-01|       curry|   15|       No|
|          B|2021-01-02|       curry|   15|       No|
|          B|2021-01-04|       sushi|   10|       No|
|          B|2021-01-11|       sushi|   10|      Yes|
|          B|2021-01-16|       ramen|   12|      Yes|
|          B|2021-02-01|       ramen|   12|      Yes|
+-----------+----------+------------+-----+---------+

## Rank all the things (create one table with: customer_id, order_date, product_name, price, member (Y/N), ranking(null/123))

In [0]:
dd_ss.sql("""
                with joined_all_tables as (
                    SELECT s.customer_id, s.order_date, m.product_name, m.price,
                    CASE WHEN s.order_date < m2.join_date THEN 'No'
                        WHEN s.order_date >= m2.join_date THEN 'Yes'
                        ELSE 'No' END AS is_member
                FROM sales_tb s JOIN menu_tb m USING (product_id)
                    JOIN member_tb m2 USING (customer_id)
                )
                select *,
                    case when is_member = 'No' then 'null'
                        else rank() over (partition by customer_id, is_member order by order_date) end as ranking
                from joined_all_tables;
""").show()

+-----------+----------+------------+-----+---------+-------+
|customer_id|order_date|product_name|price|is_member|ranking|
+-----------+----------+------------+-----+---------+-------+
|          A|2021-01-01|       sushi|   10|       No|   null|
|          A|2021-01-01|       curry|   15|       No|   null|
|          A|2021-01-07|       curry|   15|      Yes|      1|
|          A|2021-01-10|       ramen|   12|      Yes|      2|
|          A|2021-01-11|       ramen|   12|      Yes|      3|
|          A|2021-01-11|       ramen|   12|      Yes|      3|
|          B|2021-01-01|       curry|   15|       No|   null|
|          B|2021-01-02|       curry|   15|       No|   null|
|          B|2021-01-04|       sushi|   10|       No|   null|
|          B|2021-01-11|       sushi|   10|      Yes|      1|
|          B|2021-01-16|       ramen|   12|      Yes|      2|
|          B|2021-02-01|       ramen|   12|      Yes|      3|
+-----------+----------+------------+-----+---------+-------+